# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/Sources/JubeatReturn/DLL/*.dll
/Sources/JubeatReturn/JubeatReturn/Debug/*.tlog
/Sources/JubeatReturn/JubeatReturn/Debug/*.obj
/Sources/JubeatReturn/JubeatReturn.suo
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/*.dll
/Sources/JubeatReturn/JubeatReturn/Debug/JubeatReturn.exe.embed.manifest
/Sources/JubeatReturn/JubeatReturn/Debug/JubeatReturn.exe.embed.manifest.res
/Sources/JubeatReturn/JubeatReturn/Debug/JubeatReturn.exe.intermediate.manifest
/Sources/JubeatReturn/JubeatReturn/Debug/JubeatReturn.lastbuildstate
/Sources/JubeatReturn/JubeatReturn/Debug/JubeatReturn.log
/Sources/JubeatReturn/JubeatReturn/Debug/JubeatReturn.vcxprojResolveAssemblyReference.cache
/Sources/JubeatReturn/JubeatReturn/Debug/JubeatReturn_manifest.rc
/Sources/JubeatReturn/JubeatReturn/Debug/vc100.idb
/Sources/JubeatReturn/JubeatReturn/Debug/vc100.pdb
/Sources/JubeatReturn/JubeatReturn/JubeatReturn.vcxproj.user
/Sources/JubeatReturn/ipch/jubeatreturn-c7de134f/*.ipch
/Sources/JubeatReturn/Debug/JubeatReturn.exe
/Sources/JubeatReturn/Debug/JubeatReturn.ilk
/Sources/JubeatReturn/Debug/JubeatReturn.pdb
